.result{text-align: center;}
.numlist{font-size: 20pt; text-align: right;}
.push{font-size: 1.4em; align: center; font-weight: bold; padding: 10px 30px;}
.top{align: center;}
#card{float:left; margin-right: 5px; border: 1;}
#output1{font-size: 50pt;}
